
.button {
  background-color: #7866ec;
    border: none;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
	margin: 1%;
}
.button:hover {
    background-color: #cec9c9;
}