body{
  background-color:#ccefcb;
}

.button {
  background-color: #f8effc;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
	margin: 1%;
}
.button:hover {
    background-color: #981bd6;
}
 #center{
	 margin: 2%;
 }
.input{
	display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding: 25px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

tr:hover{background-color:#f5f5f5}


.inputTable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


#resultTable td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


input[type="text"], textarea {
	width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;

}


.label{
  text-align: center;
}